$primary-color: #ff4f5a
$text-color: white
$search-button-color: #ffcb0f

body
  font-family: 'Roboto', sans-serif

a
  cursor: pointer

.header
  background: $primary-color
  color: white
  background-size: cover
  background-position: bottom
  height: 100vh


.bg
  background: transparent


.header .hero
  margin-top: 80px
  margin-bottom: 100px


.header .hero h1
  color: white
  font-weight: bold
  font-size: 60px
  margin-bottom: 36px



.header .hero p
  color: rgba(255, 255, 255, 0.6)
  font-size: 22px
  max-width: 660px
  margin: 0 auto 20px
  font-weight: normal
  line-height: 1.5


/*Barre de navigation*/

.nav-item .nav-link
  color: white
  text-transform: uppercase
  font-weight: bold
  margin: 5px


.nav-link:hover
  color: $primary-color

.navbar-light .navbar-toggler-icon
  background-image: url("../../../assets/img/menu.svg")


.searchFilter
  height: 20vh
  margin: auto
  width: 100%

.searchFilter .input-group
  width: 70%
  margin: auto

.searchFilter.btn
  display: inline-block
  font-weight: 400
  line-height: 1.25
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 1px solid transparent
  padding: .5rem 1rem
  font-size: 16px
  border-radius: 1rem
  height: 50px
  min-width: 20px

.searchFilter .btn-search:hover
  background-color: $search-button-color
  color: $text-color
  border: solid $search-button-color

.searchFilter .btn-search
  background-color: $primary-color
  color: $text-color
  border: solid $text-color

.search-logo
  width: 25px
  height: 25px

#auth .btn
  border: solid 1.5px #f8f9fa

#auth .btn:hover
  color: $primary-color
  background-color: #f8f9fa

.form-control
  border-radius: 50px
  height: 50px

