<app-header>
  <app-search>
    <app-map></app-map>
  </app-search>
</app-header>

<!-- Section Infos Pro -->
<section class="bg-light">
  <img src="../../assets/img/childrens-creche.jpg" width="100%">
  <div class="text_home_2 text-center pt-5 pb-5">
    <h2 class="pb-3">Vous pouvez garder des enfants</h2>
    <p class="lead">Aider les parents de ces enfants</p>
  </div>
</section>


<!-- Section Infos Parents -->
<section>
  <img src="../../assets/img/enfant-parent.jpg" width="100%">
  <div class="text_home_2 text-center pt-5 pb-5">
    <h2 class="pb-3">Ayez confiance en notre sélection de professionnels de la garde d'enfant</h2>
    <p class="lead">Faites garder vos enfants n'importe quand, près de chez vous, longtemps à l'avance ou dans l'immédiat.</p>
  </div>
</section>

<!-- Section Pourquoi nous choisir -->
<section class="text_home mt-4 mb-4" id="whyUs">
    <h2 class="text-center text-uppercase pt-4 pb-4">Nos valeurs</h2>
  <div class="row text-center">
    <div class="col-lg-4">
      <img src="assets/img/iconfinder_Protection_icon_2541672.png" alt="RHINOSHIELD" class="pt-2 pb-2">
      <div class="container">
        <h3 class="text-uppercase">Sécurité des données</h3>
        <p>Coucou</p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="assets/img/iconfinder_girl_avatar_child_kid_4043250.png" alt="Petite fille" class="pt-2 pb-2">
      <div class="container">
        <h3 class="text-uppercase">Bien-être infantile</h3>
        <p>Coucou</p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="assets/img/iconfinder_Application-Map_379552.png" alt="map" class="pt-2 pb-2">
      <div class="container">
        <h3 class="text-uppercase">Accessible partout</h3>
        <p>Coucou</p>
      </div>
    </div>
  </div>
</section>

<app-review></app-review>

<!-- TODO: Footer -->
<footer class="text-center text-uppercase text_home">
  Nanny?&copy; 2019 | NFactory School | Campus Saint Marc
</footer>


