<app-header>
  <app-search>
    <app-map></app-map>
  </app-search>
</app-header>

<!-- Section Infos Pro -->
<section class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-7 order-md-1">
      <h2 class="pt-5">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead pt-4 pb-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-2">
      <img src="../../assets/img/childrens-creche.jpg" width="100%" height="100%">
    </div>
  </div>
</section>

<!-- Section Infos Parents -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-7 order-md-2 text-right">
      <h2 class="pt-5">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead pt-4 pb-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../assets/img/enfant-parent.jpg" width="100%" height="100%">
    </div>
  </div>
</section>

<!-- Section Pourquoi nous choisir -->
<section class="container-fluid mt-4 pt-4 pb-4" id="whyUs">
  <div class="row text-center">
    <div class="col-md-4">
      <img src="assets/img/iconfinder_Protection_icon_2541672.png" alt="RHINOSHIELD" class="pt-2 pb-2">
      <div class="container">
        <h3>SECURITE</h3>
        <p>Coucou</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/img/iconfinder_girl_avatar_child_kid_4043250.png" alt="Petite fille" class="pt-2 pb-2">
      <div class="container">
        <h3>LES GOSSES DE SES MORTS</h3>
        <p>Coucou</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/img/iconfinder_Application-Map_379552.png" alt="map" class="pt-2 pb-2">
      <div class="container">
        <h3>PARTOUT DANS LE MONDE</h3>
        <p>Coucou</p>
      </div>
    </div>
  </div>
</section>

<app-review></app-review>

<!-- TODO: Footer -->
<footer></footer>


