<app-header-profiles></app-header-profiles>
<section id="profilePro" class="mt-5">
  <div class="container mb-4">
    <div class="card">
      <div class="card-header">
        <h2 class="text-uppercase text-center">Mon profil</h2>
      </div>
      <div class="card-body">
        <img src="../../../assets/img/iconfinder_girl_avatar_child_kid_4043250.png" alt="profile pic" class="float-left" id="profilepic">
        <div class="card-text float-left text-left ml-2" id="infos">
          <p>Un gosse</p>
          <p>De ses morts</p>
          <p>Rue des moines</p>
        </div>
     </div>
    </div>
  </div>

  <div class="container">
    <button type="button" (click)="addChild()" class="btn btn-project btn-lg btn-block" id="addOne">Ajouter un enfant</button>
  </div>

  <div class="hidden"></div>
</section>
